.job-card-view {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card--header {
  display: flex;
  align-items: center;
  text-align: left;
  img {
    border-radius: 20px;
  }
  h4 {
    margin-left: 8px;
  }
}

.job-card-view {
  text-align: left;

  h5 {
    margin-top: 20px;
  }
  p {
    margin-top: 10px;
    font-size: x-small;
  }
}

.view--job-btn {
  margin-top: 25px;
  padding: 5px 10px;
  font-size: small;
}
