.register--buttons {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f5f5f9;
  border-radius: 12px;
}

.register-button {
  justify-content: center;
  flex: 1;
}

.non-active {
  background-color: #f5f5f9;
  color: #566a7f;
}

.checkmark {
  padding-top: 10px;
  display: flex;
  align-items: center;
  color: #aab4bf;
}
