header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      list-style: none;
      margin-left: 20px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  .active {
    color: #696cff;
  }
  .header-buttons {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: black;
    }
  }
}
