.about-card-view {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 370px;
}

.social_links_about {
}

.about-major {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #696cff;
}

.about-description {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #787a82;
  font-weight: 400;
}
