.text-blue-500 {
  color: #696cff;
}

.picture--title {
  text-align: left;
}

.picture--view {
  position: relative;
  margin-top: 80px;
}

.picture-img {
  padding-top: 40px;
}

.picture-img-02 {
  position: absolute;
  width: 500px;
  height: 500px;
  right: 80px;
  top: -140px;
}
